# OS files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Xcode
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.xcuserstate
xcuserdata/

# Bazel
bazel-*

# Build & Packaging artifacts
build/
*.ipa
*.dSYM/
*.dSYM.zip
*.app.dSYM
*.app.dSYM.zip

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Temporary files
*.tmp
*.log

# Local reference files
Chimera/
